/* Copyright (c) 2010 CoffeeCup, All rights reserved - http://www.coffeecup.com/
----------------------------------------------------------------------------------------------------*/

/* Reset v1.0 | 20080212 - http://meyerweb.com/eric/tools/css/reset/
----------------------------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
	float: left;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset for HTML 5 Elements
----------------------------------------------------------------------------------------------------*/

/* tells browsers that don't read html 5 tags to render like divs */
header, footer, aside, nav, article, section {
	display: block;
	margin: 0;
	padding: 0;
}

/* clears containers with floated elements, no need for extra markup! */
.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Type
----------------------------------------------------------------------------------------------------*/

html {
	font-size: 16px;
}

body {
	color: #333;
	font: 75%/1.5em Georgia, "Times New Roman", Times, serif;
}

h1, h2, h3, h4, h5, h6 {
	color: #666;
	font: 2em ;
	font-family: 'Roboto Condensed', sans-serif;
}

h1 {

}

h2 {

}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1.35em;
}

h5 {
	font-size: 1.1em;
	font-weight: bold;
}

h6 {
	font-size: 1em;
	font-weight: bold;
}

p {
	color: #666;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1em;
	line-height: 1.7em;
	text-align: left;
}

blockquote {
	font-style: italic;
	font-weight: bold;
}

ul {
	list-style: disc;
	color: #555;
	font-size: 1.0em;
	font-weight: normal;
	line-height: 1.3em;
	float: left;
}

ol, ol.lowerRoman, ol.upperAlpha {
	list-style: decimal;
	color: #555;
	font-size: 1.0em;
	font-weight: normal;
	line-height: 1.3em;
}

ol.lowerRoman {
	list-style: lower-roman;
}

ol.upperAlpha {
	list-style: upper-alpha;
}

strong, b, .b {
	color: #555 !important;
	font-weight: bold;
}

a {
	color: #555;
	text-decoration: none;
}

/*a:link {
	color: #868484;
	outline: none;
	text-decoration: none;
}

a:visited {
	color: #555;
	outline: none;
	text-decoration: none;
}*/

a:hover {
	color: #555;
	text-decoration: underline;
}

a:active {
	color: #555;
	outline: none;
	text-decoration: none;
}

a:focus {
	outline: 1px dotted;
}

/* Spacing
----------------------------------------------------------------------------------------------------*/



h1, h2, h3, h4, h5, h6 {
	padding-bottom: 3px;
}

h3 {
	padding-top: 10px;
}

hr {
	border: 0 #ccc solid;
	border-top-width: 1px;
	clear: both;
	height: 0;
}

p {
	margin-right: 10px;
	padding: 5px 0;
}

blockquote {
	margin-right: 10px;
    padding: 5px 0 20px 0;
    float: right;
    width: 61%;
    font-size: 1.6em;
    line-height: 1.6em;
    font-weight: lighter;
	min-height: 119px;
}

ul, ol {
	margin-left: 25px;
	padding-left: 0;
}

li {
	margin-bottom: 15px;
	margin-left: 15px;
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
	margin-bottom: 10px;
}

button, .button {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.5em;	
	padding: 2px 10px;
	height: 32px;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius:3px;
	background: #fff;
	color: #999;
	float: right;
	margin: 16px 10px 0px 10px;
	line-height: 32px;
	}
button:hover, .button:hover {color:#000}
/* Layout
----------------------------------------------------------------------------------------------------*/

html {
	background:#dddddd;
	padding: 0 0 40px;
	text-align: center;
}

body {
	margin-bottom: 20px;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	border: none;
}

header {
	background: transparent;
	height: 130px;
	width: 100%;
}
header h2 {
	color: #073E47;
	float: right;
	font-size: 1.8em;
	line-height: 1.2em;
	margin-top: 20px;
	padding-bottom: 15px;
	width: 58.3333333%; /* 560/960 */
	text-align: left;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: lighter;
}
.reserva_cont h1 {
	font-size: 0em;
	color: transparent;
	white-space:nowrap;
	line-height: 2em;
	text-align: left;
	margin: 0px;
	border: none;
	float: left;
	width: 100%;
	height: 150px;
}

.reserva_cont h1 a {
	width: 100%;
	cursor: pointer;
	display: inline-block;
	padding:0px;
	height: 100%;
}



#site-content{
  background: transparent;
	clear: both;
	margin: 0px; /* 50/960, 30/960 */
  padding: 0; /* 20/960 */
	min-height: 400px;
}
.mainEspacio {width: 36%; height: 120px; float: left;}
.reserva_cont {
 	background: url("../img/web_lateral.png") no-repeat;
	float: left;
	padding-top: 0px;
	padding-bottom: 155px;
  width: 310px; /* 200/920 */
	text-align: left;
	position: absolute;
	top: 0px;
	left: 13%;
	}

.reserva_cont h3 {
color: #555;
    font-weight: lighter;
    font-size: 2.5em;
    margin: 35px 0px 20px 0px;
    padding: 2.5%;
    float: left;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}
.reserva_cont .reserva {
width:100%;
height:auto;
float:left;
list-style: none;
margin: 0px;
padding: 0px;
}
.reserva li {
	float: left;
	width: 100%;
	box-sizing:border-box ;
	padding: 5px 10px;
	margin: 0px;
}
.reserva li input {
float:left;
width: 100%;
box-sizing: border-box;
height: 32px;
border: 1px solid rgba(0,0,0,0.3);
border-radius:3px;
background: #fff url("../img/web_calendario.png") right 1px no-repeat;
padding:3px;
font-size: 1.5em;
font-family: 'Roboto Condensed', sans-serif;
color:#000;
font-weight: lighter;
}
.reserva li select {
float:left;
width: 100%;
box-sizing: border-box;
height: 32px;
border: 1px solid rgba(0,0,0,0.3);
border-radius:3px;
background: #fff;
padding:3px;
font-size: 1.5em;
font-family: 'Roboto Condensed', sans-serif;
color:#000;
font-weight: lighter;
}
.reserva li label {
	width: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.8em;	
	padding: 2px 10px;
	box-sizing: border-box;
	text-transform: uppercase;
	display: inline-block;
	font-weight: lighter;
	color:#777 ;
}

.reserva_cont div {
width: 100%;
box-sizing: border-box ;
float: left;
padding: 20px;
height: 290px;
margin: -20px 0px 0px 0px;
font-family: 'Roboto Condensed', sans-serif;
font-size: 1.8em;
line-height: 1.5em;
font-weight: lighter;
text-align: justify;
color: #6B6B6B;
}
.reserva ul {
width:100%;
float: left;
margin: 0px;
padding: 0px;
}
.reserva ul li {
width:auto!important;
float: left;
margin: 0px 10px 0px 0px!important;
}
.reserva ul li label {
	float:left;
	width: auto;
}
.reserva ul li input {
	width: auto;
	float: left;
	margin-top: -5px;
	margin-left: px ;
	
}
nav {   
    float: right;
    width: 65%;
    background: rgba(255,255,255,0.2);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
}
nav ul {
	list-style: none;
    width: 100%;
    border: none;
    float: right;
    margin: 5px;
}

nav ul li {
	display: block;
	width: auto;
	margin: 0%; /* 15/200 */
	padding: 2%; /* 10/200 */
    float: right;
    border-right: 1px solid #C5C5C5;
    font-weight: lighter;
	transition: all 0.5s ease;
	}

nav ul li:hover {
  background-color: #DADADA;;
}

nav ul li a {
	width: 100%;
	font-size: 1.2em;
	/*padding: 2% 90px 2% 2%; */
	border: none;
	
}

nav ul li a:hover {
	color: #000;
	text-decoration: none;
}

#mainRight, #mainRight2 {
	float: right;
	width: 100%; /* 560/960 */
	text-align: left;
}

#mainRight h1 {
	color: #333;
	margin-bottom: 20px;
	border: none;
}

#mainRight h2 {
	font-size: 2em;
	margin: 0;
	padding-top: 10px;
	float: left;
	width: 100%;
	font-family: Georgia, "Times New Roman", Times, serif;
	border-bottom:1px solid rgba(0,0,0,0.4);
	font-style: italic;
	font-weight: lighter;
	color: #073e47;
	padding: 20px 0px;
}
#mainRight h3 {
color: #555;
    font-weight: lighter;
    font-size: 2em;
    margin: 0px 10px;
    padding: 1% 0%;
    float: left;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}
#mainRight p {
width:100%;
float:left;
font-family: 'Roboto Condensed', sans-serif;
padding: 10px;
font-size: 1.3em;
margin: 5px 0px;
}
#mainRight ul {
	list-style: none;
	padding: 10px 0px;
	width:100%;
}
#mainRight ul li {
	float: left;
	width: 48%;
}
img {
	width: 100%;
}
.disponibilidad_lista {
    padding: 0px!important;
    margin: 0px 0px;
    float: left;
    background: transparent;
}
.disponibilidad_lista li {
    width: 100%!important;
    background: rgba(255,255,255,0.5);
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 2% 2% 0% 2%;
    margin: 10px 0px;
	box-sizing: border-box;
	}
.disponibilidad_lista li img {
	width: 27%;
    float: left;
    border: 1px solid #fff;
    padding: 10px;
	}
.disponibilidad_lista li span {
	width: 27%;
	height:250px;
    float: left;
    border: 1px solid #fff;
    padding: 10px;
	text-align: center;
	vertical-align: middle;
	color: #999;
	}	
.disponibilidad_lista li h2 {
float: right!important;
width:70%!important;
}
.disponibilidad_lista li div {
	font-family: 'Roboto Condensed', sans-serif;
    float: right!important;
    width: 69%!important;
    text-align: left;
    margin: 15px 0px;
    font-size: 1.3em;
}
.disponibilidad_lista li div strong {
	width: 100%;
    float: left;
    margin: 0px;
	}
.disponibilidad_lista li div p {
	font-size: 1em!important;
	line-height: 1.4em;
	
}	
.disponibilidad_lista ul {
	width: 93%!important;
}
.disponibilidad_lista ul label {
	font-size: 1.2em ;
}
.disponibilidad_lista ul li {
	width:50%;
	background: transparent;
	border: none;
	margin: 0px;
	padding: 0px 0px 10px 0px;
	}
.disponibilidad_lista ul li input {
	background: #fff;
}
.disponibilidad_lista div table {
	float: left;
    background: rgba(143, 185, 190, 0.37);
    width: 100%;
    height: auto;
    border: 1px solid #8FB9BE;
}
.disponibilidad_lista div table tr {
	height: auto;
	border-bottom:1px solid rgba(0,0,0,0.2);
	padding: 10px;
	box-sizing: border-box;
	display:block;
}
.disponibilidad_lista div table tr td {
	height: auto;
	width: auto;
	margin: 0px 0px 0px 10px;
	display: inline-block;
	
	
	;
	
}
.colLeft {
	float: left;
	width: 44.642857%; /* 250/560 */
	border: none;
}

.colRight {
	float: right;
	width: 53.571428%; /* 300/560 */
	border: none;
}

.colRight img {
	border: none;
	margin-bottom: 20px;
}

footer {
	clear: both;
	float: right;
	width: 100%; /* 560/960 */
    padding-right: 2.0833333%; /* 20/960 */
	border-top: 1px solid rgba(0,0,0,0.1);
padding: 10px;
	box-sizing: border-box ;

}

footer p {
	float: left;
	font-size: 0.9em;
	text-align: center;
	width: 100%;
}

footer ul {
	float: left;
	list-style: none;
	width: 100%; /* 580/560 */
	margin-left: 0;
	padding-top: 20px;
	text-align: center;
	border-top: 1px solid rgba(0,0,0,0.1);
	font-family: 'Roboto Condensed', sans-serif;
}

footer ul li {
	display: inline;
	margin: 0 0.86206%; /* 5/580 */
	border: none;
}

footer ul li a {
	font-size: 1em;
	text-transform: uppercase;
}

footer ul li a:hover {
	color: #000;
}
/* Styles the thumbnail */

	margin: 0 5px 0 0;
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker {
	background: #fff!important;
	border: 1px solid #000!important;
	padding: 10px!important;
	
}
.gallery {
    width: auto!important;
    padding: 0px!important;
    margin: 15px 0px 0px 10px!important; float:right;}
.gallery li {    margin: 0px!important;
    padding: 0px!important;
    width: auto!important;
    height: auto!important;}	
.gallery li img {border:none!important; padding:0px;}
.gallery li a {margin: 0px;
    padding: 2px 15px;}

@media screen and (max-width: 768px)
{
	nav {
		border: none;
		float: none;
		width: 100%;
		padding-top: 15px;
		padding-bottom: 5px;
		margin-bottom: 10px;
	}
	nav ul {
		padding:0;
	}
	nav ul li {
		display: inline;
		border: none;
		margin: 2% 7.5%;
		padding:0;
	}
	nav ul li:hover {
		background: none;
	}
	nav ul li a:hover {
		color: #85a32f;
	}
	nav h3 {
		display: none;
	}
	#mainRight, #mainRight2 {
		float: none;
		width: 100%;
	}
}
@media screen and (max-width: 480px)
{
	header h1 a {
		background: none;
		padding-top:0;
	}
	header h1 {
		font-size: 1.8em;
		float: none;
		width: 100%;
	}
	header h2 {
		font-size: 1.4em;
		margin-top: 0;
		margin-left: 4.16666667%; /* 40/960 */
		float: none;
		width: 100%;
	}
	nav ul li {
		display: block;
		text-align: center;
		padding: 2% 0;
		
	}
	nav ul li a {
		font-size: 1.6em;
	}
	footer p {
	
    padding-left: 2.0833333%; /* 20/960 */
	}
	footer, footer ul, footer p {
		float: none;
		width: 100%;
	}
	.colLeft, .colRight {
		float: none;
		width: 100%;
	}
}
